@import url(material/style.css);
/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282828;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  font-family: "Raleway",sans-serif;
}

.clearfix:after, .top-menu:after, .top-menu ul:after, .productGrid:after, .productGrid .card-product:after, .productGrid .rateAnchor:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  position: fixed;
  width: 100%;
}

.top-menu {
  padding: 1.2em;
  background: #1b1b1b;
}
.top-menu ul {
  padding: 0;
  text-align: center;
}
.top-menu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: .8em;
}
.top-menu ul li a {
  text-decoration: none;
  color: white;
  color: rgba(255, 255, 255, 0.8);
  border-right: 1px solid grey;
  padding: 0 1em;
  margin: 0;
  transition: all .1s ease-in-out;
}
.top-menu ul li a:hover {
  color: white;
}
.top-menu ul li a:active {
  color: #fdb213;
}
.top-menu ul li:last-child a {
  border-right: none;
}

.top-right-menu {
  position: absolute;
  right: 1em;
  top: 1em;
  display: none;
}
@media (min-width: 600px) {
  .top-right-menu {
    display: block;
  }
}
@media (max-width: 600px) {
  .top-right-menu.show {
    width: 100%;
    background: #282828;
    margin: 0;
    padding: 2em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: block;
    position: fixed;
    text-align: center;
    padding-top: 4em;
  }
  .top-right-menu.show a {
    display: block;
    margin: 1em auto;
    padding: .5em;
    border-radius: 2em;
    font-size: 1.4em;
  }
  .top-right-menu.show a.close {
    position: absolute;
    top: .5em;
    right: .5em;
    margin: 0;
    /*position: relative;*/
    display: inline-block;
    padding: 0;
    font-size: 2em;
    width: 1.2em;
    height: 1.2em;
    line-height: 1;
    text-align: center;
  }
}

.tr-menu-trigger {
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  width: 2em;
  text-indent: -.35em;
}
@media (min-width: 600px) {
  .tr-menu-trigger {
    display: none;
  }
}
.tr-menu-trigger i {
  font-size: 1.2em;
  line-height: 1.1;
  position: relative;
  top: 2px;
  left: -1px;
}

.deco-border {
  box-shadow: 0 0 0 10px rgba(253, 178, 19, 0.85), 0 0 0 20px #282828, 0 0 0 30px rgba(255, 212, 0, 0.85), 0 0 0 40px #282828, 0 0 0 50px rgba(253, 178, 19, 0.85);
}

.logo {
  text-align: center;
  font-size: .8em;
}
@media (min-width: 600px) {
  .logo {
    font-size: 16px;
  }
}
.logo h1 {
  display: inline-block;
  background: #282828;
  margin: 0;
  padding: 0 .5em 0 .3em;
  text-align: center;
  font-size: 1em;
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
  background-image: linear-gradient(to bottom, #e58424, #ffd400 53%, #fdb213 94%, #e58424 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
  line-height: 1;
  padding: 0;
  position: relative;
  top: -10px;
}
@media (min-width: 600px) {
  .logo a {
    font-size: 4em;
  }
}
.logo a:before {
  outline: 1px solid red;
  display: block;
}
.logo a span.capV {
  display: inline-block;
  font-size: 1.2em;
  top: .08em;
  left: .08em;
  position: relative;
  transform: translate(0 40px);
  background-image: linear-gradient(to bottom, #e58424, #ffd400 53%, #fdb213 94%, #e58424 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo a span.capR {
  display: inline-block;
  font-size: 1.2em;
  top: .1em;
  position: relative;
  transform: translate(0 40px);
  background-image: linear-gradient(to bottom, #e58424, #ffd400 53%, #fdb213 94%, #e58424 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo img {
  display: block;
  margin: 0 auto;
}

.content {
  padding-top: 150px;
  padding-bottom: 150px;
}

.deco-strip, #logo.deco-strip {
  background: linear-gradient(to bottom, #282828, #282828 10px, #fdb213 10px, #fdb213 20px, #282828 20px, #282828 30px, #fdb213 30px, #fdb213 40px, #282828 40px, #282828 50px, #fdb213 50px, #fdb213 60px, #282828 60px, #282828 70px, #fdb213 70px, #fdb213 80px);
  background-size: 160px 68px;
  background-repeat-y: no-repeat;
}

.overlay {
  display: none;
  position: fixed;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.overlay .deco {
  position: relative;
  width: 70%;
  font-size: .8em;
  padding: 1.5em;
  margin: 4em auto;
  text-align: center;
  background: #282828;
  transition: all .25s ease-in-out;
  box-shadow: 0 0 0 10px rgba(253, 178, 19, 0.85), 0 0 0 20px #282828, 0 0 0 30px rgba(255, 212, 0, 0.85), 0 0 0 40px #282828, 0 0 0 50px rgba(253, 178, 19, 0.85);
}
@media (min-width: 600px) {
  .overlay .deco {
    font-size: 1em;
    width: 500px;
  }
}
.overlay .deco img {
  width: 13em;
}
@media (min-height: 550px) {
  .overlay .deco {
    margin: 8em auto;
  }
}
@media (min-width: 600px) {
  .overlay .deco {
    margin: 10em auto;
  }
}
.overlay .deco:hover {
  box-shadow: 0 0 0 10px #fdb213, 0 0 0 20px #282828, 0 0 0 30px #ffd400, 0 0 0 40px #282828, 0 0 0 50px #fdb213;
}
.overlay .deco p {
  margin-bottom: 1em;
}
.overlay .deco a {
  font-size: 1.3em;
  display: inline-block;
}
.overlay .deco .logo h1 {
  font-size: 1.8em;
  margin-top: .5em;
  margin-bottom: .5em;
}
.overlay.show {
  display: block;
}

.btn {
  text-decoration: none;
  color: #e58424;
  border: 0.1em solid #e58424;
  padding: .2em .75em;
  border-radius: 1em;
  line-height: 1.5;
}
.btn.btn-large {
  font-size: 1.5em;
}

.btn-primary {
  color: #fdb213;
  border-color: #fdb213;
}
.btn-primary:hover {
  color: #282828;
  background: linear-gradient(to bottom, #e58424, #ffd400 53%, #fdb213 94%, #e58424 100%);
  border-color: #fdb213;
  border-top-color: #e58424;
  border-bottom-color: #e58424;
}
.btn-primary:active {
  color: #282828;
  background: #e58424;
  border-color: #e58424;
}

.btn-dark {
  color: #e58424;
  border-color: #e58424;
}
.btn-dark:hover {
  color: #282828;
  background: #bf6b17;
  border-color: #bf6b17;
}
.btn-dark:active {
  color: #282828;
  background: #ffd400;
  border-color: #ffd400;
}

.footer {
  position: fixed;
  width: 100%;
  font-size: 14px;
  color: #e58424;
  background: rgba(40, 40, 40, 0.9);
  margin: 0;
  bottom: 0;
}
.footer .fl, .footer .fr {
  width: 50%;
  float: left;
  padding: 1em;
}
.footer .fr {
  text-align: right;
}

.productGrid {
  max-width: 1200px;
  margin: 0 auto;
}
.productGrid .card-product {
  background: rgba(255, 255, 255, 0.1);
  margin-right: 1em;
}
.productGrid figure {
  text-align: center;
  width: 100%;
  display: block;
  max-height: 200px;
  overflow: hidden;
}
.productGrid figure img {
  width: 100%;
}
.productGrid .product-caption {
  padding: 1em;
}
.productGrid .col1 {
  width: 100%;
  padding: .5em;
  display: block;
}
.productGrid .col2 {
  width: 100%;
  display: block;
}
@media (min-width: 800px) {
  .productGrid .col1 {
    width: 33%;
    float: left;
  }
  .productGrid .col2 {
    width: 50%;
    float: left;
  }
}
.productGrid .rateAnchor {
  padding: 1em 1em 0 1em;
}
.productGrid .rateAnchor .col2 {
  width: 50%;
  float: left;
}
.productGrid .productName {
  padding: 1em;
}

/*********************/
/** Utilities ******* /
/*********************/
.text-right {
  text-align: right;
}
